.grade {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 175, 240, 1) 49%, rgba(0, 0, 0, 1) 100%);
}
.grade2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 175, 240, 1) 49%, rgba(0, 0, 0, 1) 100%);
}
.trans {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 176, 240, 0.274) 49%, rgba(0, 0, 0, 1) 100%);
}

.scrollbarm::-webkit-scrollbar{
     width: 2px;
}